@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>All Messages (This is sqlight)</h1>
<br />
@foreach(var mes in Model.MessagesList)
{
    <div style="border: 2px solid #333; padding: 5px; margin: 2px" id="panel">
        
        @* the message *@
        <h3>@mes.Title</h3>
        <p>@mes.Text</p>
        <br />
        <p style="text-align: right; color:gray; border-bottom: 1px solid gray;">@mes.Owner</p>


        @* show hide comments  *@
        <button onclick='showHideComments("@mes.Id")' style="text-align: center">Show/Hide commetns</button>
        <br /><br />

        <div id="commentsAndButtons @mes.Id" style="display: none">

            @* comments input *@
            <div style="text-align: center;">
                <input type="text" id="comment" name="comment" style="width: 70%"/>
                <button onclick='SendComment("@mes.Id")'>Send comment</button>
            </div>
            <br />

            @* display comments  *@
            <div id="allComents" style="height: 30vh; overflow: auto;">
                @foreach(var comm in Model.CommentsList)
                {
                    @if(comm.MessageId == mes.Id)
                    {
                        <p>@comm.Text</p>
                        <br />                        
                    }
                }
            </div>
            <br />

        </div>

    </div>
    <br />
}


@Html.AntiForgeryToken()


@section Scripts
{
    <script>

        function showHideComments(mesId) 
        {
            var commetsAndButtons = document.getElementById("commentsAndButtons " + mesId)

            //check for state
            if (commetsAndButtons.style.display == "none") {//is desibled

                //enable
                commetsAndButtons.style.display = "block";
            } else 
            {
                //desible
                commetsAndButtons.style.display = "none";
            }
        }


        function SendComment(messageId) {
            //get the comment message
            var commentMessage = document.getElementById("comment").value;

            //check if the comment message is empty
            if (commentMessage == "" || commentMessage == null) {
                return;
            }

            //get url
            var url = '@Url.Action("PublishComment")';

            //get antiforgerytoken
            var t = document.getElementsByName("__RequestVerificationToken")[0].value;
            console.log(t)

            $.ajax({
                type: 'POST',
                url: url,
                data: {

                    comment: commentMessage,
                    messageId: messageId,
                    __RequestVerificationToken: t,

                },
                success: successCallback,
                dataType: "json",
                error: function (xhr, status, errorThrown) {
                    var err = "Status: " + status + " " + errorThrown;
                    console.log(err);
                },

                // headers:
                // {
                //     "__RequestVerificationToken": t
                // },

            });

            //empty the message input
            document.getElementById("comment").value = "";
        }

        function successCallback(response) {
            console.log(response)
            if (response.status == "good") { // add comment

                var commentsDiv = document.getElementById("allComents")
                commentsDiv.innerHTML = "<p> " + response.commText + " </p><br/>" + commentsDiv.innerHTML;
            }
        }

    </script>        
}